[Desktop Entry]
Name=Eclipse Neon
Type=Application
Exec=/home/{{username}}/eclipse/eclipse
Terminal=false
Icon=/home/{{username}}/eclipse/icon.xpm
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[de_DE]=Eclipse Neon
